Nicolas Courty  <ncourty@irisa.fr> Nicolas Courty <Nico@MacBook-Pro-de-Nicolas.local>
Nicolas Courty  <ncourty@irisa.fr> ncourty <ncourty@irisa.fr>
Nicolas Courty  <ncourty@irisa.fr>  Nicolas Courty <Nico@pc-mna-08.univ-ubs.fr>
Léo Gautheron <leo_g_autheron@hotmail.fr>  Leo gautheron <gautheron@iv-cm-359.creatis.insa-lyon.fr>
