language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  # does not have headers provided, please ask https://launchpad.net/~pypy/+archive/ppa
  # maintainers to fix their pypy-dev package.
  - "pypy"
# command to install dependencies
install:
  - pip install --only-binary=numpy,scipy numpy scipy
  - pip install -r requirements.txt
  - python setup.py install
# command to run tests
script: pytest
