include README.md
include RELEASES.md
include LICENSE
include ot/lp/core.h
include ot/lp/EMD.h
include ot/lp/EMD_wrapper.cpp
include ot/lp/emd_wrap.pyx
include ot/lp/full_bipartitegraph.h
include ot/lp/network_simplex_simple.h
