include README.md
include RELEASES.md
include LICENSE
include requirements_all.txt
include ot/lp/core.h
include ot/lp/EMD.h
include ot/lp/EMD_wrapper.cpp
include ot/lp/emd_wrap.pyx
include ot/lp/full_bipartitegraph.h
include ot/lp/full_bipartitegraph_omp.h
include ot/lp/network_simplex_simple.h
include ot/lp/network_simplex_simple_omp.h
include ot/lp/sparse_bipartitegraph.h
include ot/partial/partial_cython.pyx
include ot/bsp/BSP-OT_header_only.
include ot/bsp/bsp_wrapper.cpp
include ot/bsp/bsp_wrapper.h
include ot/bsp/bsp_wrap.pyx
include deps/eigen/Eigen/*