name: Build wheels

on:
  workflow_dispatch:
  release:
  pull_request:
  push:
    branches:
      - "*"

jobs:
  build_wheels:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    if: "contains(github.event.head_commit.message, 'build wheels')"
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -U "cython"
    - name: Install cibuildwheel
      run: |
        python -m pip install cibuildwheel==2.2.2
    - name: Build wheels
      env:
        CIBW_SKIP: "pp*-win* pp*-macosx* pp* cp36*" # remove pypy on mac and win (wrong version)
        CIBW_BEFORE_BUILD: "pip install numpy cython"
      run: |
        python -m cibuildwheel --output-dir wheelhouse
    - uses: actions/upload-artifact@v1
      with:
        name: wheels
        path: ./wheelhouse


  build_all_wheels:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    if: "contains(github.event.head_commit.message, 'build all wheels')"
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -U "cython"
    - name: Install cibuildwheel
      run: |
        python -m pip install cibuildwheel==2.2.2

    - name: Build wheels
      env:
        CIBW_SKIP: "pp*-win* pp*-macosx* cp2* pp* cp*musl* cp36*" # remove pypy on mac and win (wrong version)
        CIBW_BEFORE_BUILD: "pip install numpy cython"
        CIBW_ARCHS_MACOS: x86_64 universal2 arm64
      run: |
        python -m cibuildwheel --output-dir wheelhouse
    - uses: actions/upload-artifact@v1
      with:
        name: wheels
        path: ./wheelhouse
