name: Build doc

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - 'master'  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    # Standard drop-in approach that should work for most people.
    - name: Free Disk Space (Ubuntu)
      uses: insightsengineering/disk-space-reclaimer@v1
      with:
        android: true
        dotnet: true
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: 'pip'

    - name: Get Python running
      run: |
        python -m pip install --user --upgrade --progress-bar off pip
        python -m pip install --user --upgrade --progress-bar off -r requirements_all.txt
        python -m pip install --user --upgrade --progress-bar off -r docs/requirements.txt
        python -m pip install --user --upgrade --progress-bar off ipython sphinx-gallery memory_profiler
        python -m pip install --user -e .
    # Look at what we have and fail early if there is some library conflict
    - name: Check installation
      run: |
        which python
        python -c "import ot"
    # Build docs
    - name: Generate HTML docs
      uses: rickstaa/sphinx-action@master
      with:
        docs-folder: "docs/"
    - uses: actions/upload-artifact@v4
      with:
        name: Documentation
        path: docs/build/html/
